.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),
    url('https://bit.ly/3bxBbFf');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-size: 500%;
    font-weight: bolder;
    border-radius: 0.3rem;
    height: 500px;
}
h1 {
    font-style: italic;
}

body {
    font-family: 'Manrope', sans-serif;
}
  
@media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
}
