{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}


{% block content %}
<div class="container">
    <h1 style="text-align: center;">About News-Flash</h1>
    <div><img style="margin-left: 100px;" src="https://bit.ly/2KEjxUh" alt="Photo of a newspaper" class="img-responsive"></div>
    <p style="text-align: center;">Knowledge of what is going on in the world is crucial.</p>
    <p style="text-align: center;">However, it is almost to keep up-to-date with current news.</p>
    <p style="text-align: center;">We understand this and we have got your back. Our site uses the News API to fetch top headlines from different news sources across the world.</p>
    <p style="text-align: center;">The site also allows you to explore and read the top news from your favorite news source</p>
</div>
{% endblock %}