{% extends "base.html" %}
{% import 'macros.html' as macro %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

{% block content %}
<div class="jumbotron">
    <h1>News-Flash</h1>
    <p><i>Learn about what is happening in the world</i></p>
    <p><i>On the go</i></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 style="font-style: normal;">News Sources</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mt-5" style="width: 20rem;">
                {{macro.displaySourcesList(sources)}}
            </div>
        </div>
    </div>
</div>

{% endblock %}