{% macro displaySourcesList(sources_list) %}
    {% for source in sources_list %}
        <div class="card">
            <div class="card-body">
                <h2>{{source.name}}</h2>
                <h4>ID: {{source.id}}</h4>
                <p>{{source.description | truncate(100)}}</p>
                <a href="{{source.url}}" target="_blank" class="badge badge-primary">Visit News Site</a>
                <a href="/source/{{source.id}}">View Articles</a>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro displayHeadlinesResults(headlines_list) %}
    {% for headline in headlines_list %}
        <div class="card">
            <div class="card-title">
                <h3><i>{{headline.title}}</i></h3>
                <!-- <h5><i>{{headline.author}}</i></h5> -->
            </div>
            <div class="card-body">
                <h5><i>{{headline.publishedAt | truncate(13)}}</i></h5>
                <a href="{{headline.url}}" target="_blank">Read Full Article</a>
                <p>{{headline.description}}</p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro displaySourceArticles(articles_list) %}
        {% for article in articles_list %}
        <div class="card">
            <div class="card-title"><h4><strong>{{article.title}}</strong></h4></div>
            <div class="card-image">
                <img src="{{article.image}}" class="img-responsive">
            </div>
            <div class="card-title">
                <h5><i>{{article.publishedAt | truncate(13)}}</i></h5>
                <p>{{article.description | truncate(150)}}</p>
                <a href="{{article.url}}" target="_blank">Read Full Article</a>
            </div>
        </div>
        <hr>
        {% endfor %}
{% endmacro %}